$width-100: 100vw;
$width-90: 90vw;
$width-80: 80vw;
$width-70: 70vw;
$width-60: 60vw;
$width-50: 50vw;
$width-40: 40vw;
$width-30: 30vw;
$width-20: 20vw;
$width-10: 10vw;

$height-100: 100vh;
$height-90: 90vh;
$height-80: 80vh;
$height-70: 70vh;
$height-60: 60vh;
$height-50: 50vh;
$height-40: 40vh;
$height-30: 30vh;
$height-20: 20vh;
$height-10: 10vh;

$size-100-pc: 100%;
$size-90-pc: 90%;
$size-80-pc: 80%;
$size-70-pc: 70%;
$size-60-pc: 60%;
$size-50-pc: 50%;
$size-40-pc: 40%;
$size-30-pc: 30%;
$size-20-pc: 20%;
$size-10-pc: 10%;
