.main {
    width : 100vw;
    height: 100vh;
}

.flex-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.primary-color {
    background-color: #9BD5E3;
}