@use 'themes/colors';
@use 'themes/size';

.primary-bg-color {
    background-color: colors.$primary-color;
}

.secondary-bg-color {
    background-color: colors.$secondary-color;
}

.main {
    width: size.$width-100;
    height: size.$height-100;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-sidebar {
    height: size.$height-100;
    width: size.$width-20;
    background-color: colors.$secondary-color;
    position: relative;
}

.main-content {
    width: size.$width-80;
    height: size.$height-100;
    overflow: scroll;
}

.profile-container {
    margin-top: 30px;
    margin-left: 1.5vw;
    height: 70px;
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
}

.profile-name {
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
}

.profile-role {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.sidebar-bottom-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    background-color: #ffc422;
    bottom: 0px;
    height: 5vh;
    width: size.$width-20;
}

.sidebar-bottom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    background-color: white;
}

.sidebar-bottom-button:hover {
    background-color: blue;
}

.main-card-container {
    width: size.$width-60;
    height: size.$height-90;
    border-radius: 30px;
    display: flex;
}

.left-card-container {
    width: 48%;
    height: size.$size-100-pc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}

.right-card-container {
    width: 52%;
    height: size.$size-100-pc;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ffffff;
}

.card-title-text {
    font-weight: 700;
    font-size: 25px;
    color: #43568E;
}

.card-subtitle-text {
    font-weight: 700;
    color: white;
    font-size: 14px;
}

.card-input-bottom-text {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 14px;
    margin-top: 9px;
    font-style: italic;
    cursor: pointer;
    color: #43568E;
}

.button-bottom-text-container {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    margin-top: 9px;
    color: #cccccc;
}

.button-bottom-text-left {
    margin-left: 5px;
    color: #43568E;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.button-text {
    color: white;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
}







